.root {
    --background-color: #212121;
    --main-text-color: #14ffec;
    --hexagon-color: #0d7377;
    --border-color: #323232;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.title {
    font-size: 40px;
    text-align: center;
    left: 50%;
    margin-top: 80px;
    margin-bottom: 80px;
    color: #14ffec;
    font-family: 'Oswald', serif;
}

.centered-text {
    font-size: 30px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #14ffec;
    font-family: 'Oswald', sans-serif;
}

.centered-text_md {
    font-size: 24px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--main-text-color);
    font-family: 'Oswald', sans-serif;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}

.center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.centered-context {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.centered-context_with-footer {
    height: calc(100% - 30px);
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
    height: 30px;
    font-size: 15px;
    font: Oswald, serif;
    color: var(--hexagon-color);
}