<div class="root main-grid">
    <div class="hexagon-set_normal back-button">
        <div class="hexagon-set__line">
            <div class="hexagon">
                <a title="Back" href="#" class="hexagon__main hexagon__main_border_custom">
                    <div class="hexagon__filling hexagon__filling_custom">
                        <div class="centered-text">
                            Back
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="title title-main">Login</div>
    <div class="content">
        <form action="" class="login-form centered-context centered-context_near" method="POST">
            <input title="Enter username" class="input" type="text" name="username" placeholder="Username">
            <input title="Enter password" class="input" type="password" name="password" placeholder="Password">
            <div class="hexagon-set_normal hexagon-button-set_md login-button">
                <div class="hexagon-set__line">
                    <div class="hexagon">
                        <button title="Login" type="submit" href="#" class="hexagon__main hexagon__main_border_custom">
                            <div class="hexagon__filling hexagon__filling_custom">
                                <div class="centered-text">
                                    Login
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="hexagon-set_normal hexagon-button-set_md">
                <div class="hexagon-set__line">
                    <div class="hexagon">
                        <a title="Register" href="#" class="hexagon__main hexagon__main_border_custom">
                            <div class="hexagon__filling hexagon__filling_custom">
                                <div class="centered-text">
                                    Register
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="footer-grid">
        <footer class="footer-default">
            developed by Auteam (c) 2019
        </footer>
    </div>
</div>