body {
    font-size: 0;
}

.hexagon-set_normal {
    --width: 200px;
}


.hexagon-set__line {
    margin-top: calc(var(--width) / -4);
    margin-left: calc(var(--width) * -0.03349364905);
}

.hexagon-set__line:first-child {
    margin-top: 0;
}

.hexagon-set__line:nth-of-type(even) {
    margin-left: calc(var(--width) / 2 - var(--width) * 0.03349364905 / 2);
}

.hexagon {
    display: inline-block;
    width: var(--width);
    vertical-align: middle;
    margin-left: calc(var(--width) * 0.03349364905);
    transition: all 0.2s ease-in-out;
}

.hexagon:hover {
    transform: scale(1.05);
}

.hexagon__filling {
    overflow: hidden;
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    clip-path: polygon(0% 25%, 50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%);
}

.hexagon__filling_white {
    background-color: white;
}

.hexagon__filling_custom {
    background-color: #0d7377;
}

.hexagon__main {
    display: inline-block;
    width: 100%;
    height: 0;
    padding-bottom: 115.470053838%;
    position: relative;
    clip-path: polygon(0% 25%, 50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%);
}

.hexagon__main_space {
    visibility: hidden;
}

.hexagon__main_border_black {
    background: black;
}

.hexagon__main_border_custom {
    background-color: #323232;
}

.hexagon__img {
    background-image: url("../img/image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.title {
    font-size: 40px;
    text-align: center;
    left: 50%;
    margin-top: 100px;
    margin-bottom: 80px;
    color: #14ffec;
    font-family: 'Oswald', serif;
}

.centered-text {
    font-size: 30px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #14ffec;
    font-family: 'Oswald', sans-serif;
}