<div class="root main-grid">
    <div class="hexagon-set_normal back-button">
        <div class="hexagon-set__line">
            <div class="hexagon">
                <a title="Back" href="menu" class="hexagon__main hexagon__main_border_custom">
                    <div class="hexagon__filling hexagon__filling_custom">
                        <div class="centered-text">
                            Back
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="centered-text title">
        Coming soon
    </div>
    <div class="footer-grid">
        <footer class="footer-default">
            developed by Auteam (c) 2019
        </footer>
    </div>
</div>
