.hexagon__main > input {
    display: none;
}

.main-grid_profile {
    grid-template-columns: 1fr minmax(200px, 600px) 1fr;
}

.profile-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px,1fr) minmax(200px,2fr));
    grid-gap: 10px;
}

.grid-right {
    grid-column: 2 / 3;
}

.grid-left {
    grid-column: 1 / 2;
}

.login-form > input {
    margin-bottom: 0px;
}

.text {
    width: 100%;
    float: left;
    text-align: right;
    font-size: 20px;
    color: var(--main-text-color);
    font-family: 'Oswald', serif;
}