<div class="root main-grid">
    <div class="title title-main">Bee Hexual</div>
    <div class="content">
        <div class="centered-context">
            <div class="hexagon-set_main hexagon-set_odd">
                <div class="hexagon-set__line">
                    <div class="hexagon">
                        <a title="Profile avatar" href='{{page}}' class="hexagon__main hexagon__main_border_custom">
                            <div class="hexagon__filling hexagon__filling_custom">
                                <div class="hexagon__img">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="hexagon-set__line">
                    <div class="hexagon">
                        <a title="Settings" href="settings" class="hexagon__main hexagon__main_border_custom">
                            <div class="hexagon__filling hexagon__filling_custom">
                                <div class="centered-text_md">
                                    Settings
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="hexagon">
                        <a title="Leaderboards" href="leaderboard" class="hexagon__main hexagon__main_border_custom">
                            <div class="hexagon__filling hexagon__filling_custom">
                                <div class="centered-text_md">
                                    Leaderboards
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="hexagon-set__line">
                    <div class="hexagon">
                        <a title="About" href="about" class="hexagon__main hexagon__main_border_custom">
                            <div class="hexagon__filling hexagon__filling_custom">
                                <div class="centered-text_md">
                                    About
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div title="Play button container" class="hexagon-set_play">
                <div class="hexagon-set__line">
                    <div class="hexagon">
                        <a title="Play" href="play" class="hexagon__main hexagon__main_border_custom">
                            <div class="hexagon__filling hexagon__filling_custom">
                                <div class="centered-text">
                                    Play
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-grid">
        <footer class="footer-default">
            developed by Auteam (c) 2019
        </footer>
    </div>
</div>
