<div class="root main-grid">
    <div class="hexagon-set_normal back-button">
        <div class="hexagon-set__line">
            <div class="hexagon">
                <a title="Back" href="menu" class="hexagon__main hexagon__main_border_custom">
                    <div class="hexagon__filling hexagon__filling_custom">
                        <div class="centered-text">
                            Back
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="title title-main">Leaderboard</div>
    <div class="content_width">
        <div class="centered-context">
            <div class="hexagon-set_normal">
                <div class="hexagon-set__line">
                    <!--{{#each users}}-->
                        <div class="hexagon">
                            <a title="Player" href="#" class="hexagon__main hexagon__main_border_custom">
                                <div class="hexagon__filling hexagon__filling_custom">
                                    <div class="centered-text">
                                        <p>Player</p>
                                        <p>100</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <!--{{/each}}-->
                </div>
            </div>
            <div class="pagination">
              <a title="first page" href="#">&laquo;</a>
              <a title="1" href="#">1</a>
              <a title="2" class="active" href="#">2</a>
              <a title="3" href="#">3</a>
              <a title="4" href="#">4</a>
              <a title="5" href="#">5</a>
              <a title="6" href="#">6</a>
              <a title="last page" href="#">&raquo;</a>
            </div>
        </div>
    </div>
    <div class="footer-grid">
        <footer class="footer-default">
            developed by Auteam (c) 2019
        </footer>
    </div>
</div>
